In [76]:
import pandas as pd
df1=pd.read_csv('X:/stuff/Curneu MedTech/user1.csv')

In [77]:
for pid in set(df1['Patient_Id']):
    tmp = [each[0] for each in filter(lambda x:x[1]==pid,enumerate(df1['Patient_Id']))]
    to_str = list(filter(lambda x:'float' not in str(type(x)),df1['Selected'][tmp[0]:tmp[-1]+1]))
    df1['Selected'][tmp[0]] = ','.join(to_str)
    df1['Recommended'][tmp[0]] = ','.join(list(df1['Recommended'][tmp[0]:tmp[-1]+1]))
    df1.drop(df1.index[list(range(tmp[1],tmp[-1]+1))],inplace = True)

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [78]:
df1.index = list(range(len(df1.index)))

In [79]:
uniq_symptoms = set(list(df1['Symptom1'])+list(df1['Symptom2']))
df1[(df1['Symptom1']=='Nose_bleeding') & (df1['Symptom2']=='Sore_throat')]

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
2,1001,3,Nose_bleeding,Sore_throat,"DU20,DU14,LI4,LU6,LI19,LI11,SP6,DU23,LU11,DU25","DU20,LI4"
12,1001,13,Nose_bleeding,Sore_throat,DU20,DU20
22,1001,23,Nose_bleeding,Sore_throat,DU20,DU20

In [81]:
df1.to_csv('C:/Users/Asus/Desktop/my1.csv')

In [67]:
df1

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1001,1,Sinusitis,Tonsillitis,"DU20,DU14,LI4,SI18,LI11,SP6,LU11,SI17,SP10,GB1...","DU20,DU14,LI4,LI11,SP6"
11,1001,2,Tonsillitis,Nose_bleeding,"DU20,DU14,LI4,LU6,LI19,LI11,SP6,DU23,LU11,DU25","DU20,LI4"
21,1001,3,Nose_bleeding,Sore_throat,"DU20,DU14,LI4,LU6,LI19,LI11,SP6,DU23,LU11,DU25","DU20,LI4"
31,1001,4,Sore_throat,Dyspnoea,"DU20,DU14,LI4,UB20,LI11,SP6,LU11,Ren5,Ren9,SI17","DU20,SP6"
41,1001,5,Oedema,Ascites,"DU20,DU14,LI4,UB20,LI11,SP6,LU11,Ren5,Ren9,SI17","DU20,SP6"
...,...,...,...,...,...,...
900,1001,96,Oedema,Ascites,DU20,DU20
907,1001,97,Sinusitis,Tracheitis,DU20,DU20
917,1001,98,Tonsillitis,Laryngitis,DU20,DU20
927,1001,99,Nose_bleeding,Hoarseness,DU20,LI4
937,1001,100,Sore_throat,Tonsillitis,DU20,DU20